.telaMenu{
    border-style:solid;
    border-color: #6b95a5;
    height:720px;
    width:1280px;
    /*background-color:red;*/
    background-image: linear-gradient(#dcedf4, #8babb7);
	border-radius: 10px;
}

.jogador{
	float: left;
	width: 250px;
	height: 75px;
	text-align: center;
    margin-left:22%;
	padding-top:0.6%;
	margin-top:40px;
}

.entradaNomes{
    opacity:1.0;
    height:40px;
    width:230px;
    margin-top:25px;
}

.barraMenu{
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
}

.iniciarBotao{
 float: right;
	width: 300px;
	height: 90px;
	background-color: #4CAF50;
	text-align: center;
    opacity: 1.0;
    border: none;
    border-radius: 10px;
}

.iniciarBotao:hover{
    background-color: #2d7f31;
}

.sairBotao{
    width: 300px;
	height: 90px;
	background-color: #af4c4c;
	text-align: center;
    opacity: 1.0;
    border: none;
    border-radius: 10px;
}

.sairBotao:hover{
    background-color: #7f3434;

}

.botaoTransparente{
    float: right;
    width: 300px;
   	height: 90px;
    background-color: #4d1d84;
    font-size: 1.9em;
    text-align: center;
    opacity: 0.5;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
}

a{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.9em;
    color: white;
    text-decoration:none;
}

.botaoOpaco{
    float: right;
	width: 300px;
	height: 90px;
	background-color: #4d1d84;
	font-size: 1.9em;
	text-align: center;
    opacity: 1.0;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
}

.nomeJogador{
    padding-left:17%;
	padding-top:5%;
    float: left;
}



.divTemas{
    border-style:solid;
    border-color:#327c99;
    height:330px;
    width:1230px;
    margin-top:20.2%;
    margin-left:1.6%;
    border-radius: 10px;
    background-image: linear-gradient(#78b4cc, #4f94af);
}

.temaBotao{
  width: 221px;
  height:221px;
  color:black;
  border: none;
  border-radius: 10px;
  margin-left: 18px;
  margin-top: 85px;
}

input{
border:none;
border-radius: 10px;
font-family: 'Black Han Sans', sans-serif;
padding-left:15px;
}